<footer class="app-footer">
  <div class="app-footer__content">
    <div class="app-footer__links">
      <span>{{ 'footer.legal' | translate }}</span>
      <span>|</span>
      <span>{{ 'footer.terms' | translate }}</span>
      <span>|</span>
      <span>{{ 'footer.contact' | translate }}</span>
    </div>

    <div class="app-footer__socials" aria-hidden="true">
      <span>in</span>
      <span>x</span>
      <span>f</span>
      <span>o</span>
    </div>
  </div>

  <p class="app-footer__copyright">{{ 'footer.copyright' | translate }}</p>
</footer>
