@import 'ngx-toastr/toastr';

/* Global styles for PWA */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

button {
  font-family: 'Inter', sans-serif;
}

.custom-toast-position {
  top: 120px !important;
  right: 20px !important;
}
