<div class="auth-page">

  <div class="auth-header">
    <img ngSrc="logo.png" alt="CYNA logo" height="40" width="151" class="auth-logo" priority/>
    <p class="auth-slogan">{{ 'auth.title' | translate }}</p>
  </div>

  <div class="auth-card">

    <div class="auth-type">
      <div [class.active]="mode==='login'" (click)="mode='login'">{{ 'auth.login' | translate }}</div>
      <div [class.active]="mode==='register'" (click)="mode='register'">{{ 'auth.register' | translate }}</div>
    </div>

    @if (mode === 'login') {
      <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <p class="auth-subtitle">{{ 'auth.login-title' | translate }}</p>

        <div class="input-group-wrapper">
          <label for="email-login">{{ 'auth.field.mail-label' | translate }}</label>
          <div class="input-group">
            <i class="fa-regular fa-envelope"></i>
            <input id="email-login" type="email" formControlName="email" [placeholder]="'auth.field.mail-placeholder' | translate" />
          </div>
        </div>

        <div class="input-group-wrapper">
          <label for="password-login">{{ 'auth.field.password-label' | translate }}</label>
          <div class="input-group">
            <i class="fa-solid fa-lock"></i>
            <input id="password-login" type="password" formControlName="password" placeholder="••••••••" />
          </div>
        </div>

        <div class="forgot-password">{{ 'auth.forgot-password' | translate }}</div>
<!--        TODO envoi mail -->

        <button type="submit" class="auth-button" [disabled]="loginForm.invalid">{{ 'auth.login-button' | translate }}</button>
      </form>
    } @else {
      <form class="auth-form" [formGroup]="registerForm" (ngSubmit)="submitRegister()">
        <p class="auth-subtitle">{{ 'auth.register-title' | translate }}</p>

        <div class="input-group-wrapper">
          <label for="last-name">{{ 'global.last-name' | translate }}</label>
          <div class="input-group">
            <i class="fa-regular fa-user"></i>
            <input id="last-name" type="text" formControlName="lastName" [placeholder]="'global.last-name' | translate" />
          </div>
        </div>

        <div class="input-group-wrapper">
          <label for="first-name">{{ 'global.first-name' | translate }}</label>
          <div class="input-group">
            <i class="fa-regular fa-user"></i>
            <input id="first-name" type="text" formControlName="firstName" [placeholder]="'global.first-name' | translate" />
          </div>
        </div>

        <div class="input-group-wrapper">
          <label for="company">{{ 'auth.field.company-label' | translate }}</label>
          <div class="input-group">
            <i class="fa-solid fa-building"></i>
            <input id="company" type="text" formControlName="company" [placeholder]="'auth.field.company-label' | translate" />
          </div>
        </div>

        <div class="input-group-wrapper">
          <label for="email-register">{{ 'auth.field.mail-label' | translate }}</label>
          <div class="input-group">
            <i class="fa-regular fa-envelope"></i>
            <input id="email-register" type="email" formControlName="email" [placeholder]="'auth.field.mail-placeholder' | translate " />
          </div>
          @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
            <div class="error">
              @if (registerForm.get('email')?.errors?.['pattern']) {
                <span>{{ 'auth.field.error.email-format' | translate }}</span>
              } @else if (registerForm.get('email')?.errors?.['emailTaken']) {
                <span>{{ 'auth.field.error.email-taken' | translate  }}</span>
              }
            </div>
          }
        </div>

        <div class="input-group-wrapper">
          <label for="password-register">{{ 'auth.field.password-label' | translate }}</label>
          <div class="input-group">
            <i class="fa-solid fa-lock"></i>
            <input id="password-register" type="password" formControlName="password" placeholder="••••••••" />
          </div>
          @if (passwordCtrl?.invalid && registerForm.get('password')?.touched) {
            <div class="error">
              @if (passwordCtrl?.errors?.['minlength']) {
                <span>{{ 'auth.field.error.min-password' | translate }}</span>
              } @else if (passwordCtrl?.errors?.['pattern']) {
                @if (!hasSpecialChar()){
                  <span>{{ 'auth.field.error.criteria-password' | translate }}</span>
                } @else {
                  <span>{{ 'auth.field.error.unauthorized-char-password' | translate }}</span>
                }

              }
            </div>
          }
        </div>

        <div class="input-group-wrapper">
          <label for="confirm-password-register">{{ 'auth.field.confirm-password-label' | translate }}</label>
          <div class="input-group">
            <i class="fa-solid fa-lock"></i>
            <input id="confirm-password-register" type="password" formControlName="confirmPassword" placeholder="••••••••" />
          </div>
          @if (registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.touched) {
            <div class="error">
              <span>{{ 'auth.field.error.password-mismatch' | translate }}</span>
            </div>
          }
        </div>

        <p class="security-title">{{ 'auth.field.pw-criteria.title' | translate }}</p>
        <ul class="security-list">
          <li [class.valid]="hasMinLength()">{{ (hasMinLength() ? '✔ ' : '❌ ') + ('auth.field.pw-criteria.rule-min' | translate) }}</li>
          <li [class.valid]="hasLowerAndUpper()">{{ (hasLowerAndUpper() ? '✔ ' : '❌ ') + ('auth.field.pw-criteria.rule-lower-upper' | translate) }}</li>
          <li [class.valid]="hasNumber()">{{ (hasNumber() ? '✔ ' : '❌ ') + ('auth.field.pw-criteria.rule-number' | translate) }}</li>
          <li [class.valid]="hasSpecialChar()">{{ (hasSpecialChar() ? '✔ ' : '❌ ') + ('auth.field.pw-criteria.rule-special-char' | translate) }}</li>
        </ul>

        <button type="submit" class="auth-button" [disabled]="registerForm.invalid">{{ 'auth.register-button' | translate }}</button>
<!--        TODO mail inscription-->
      </form>
    }
  </div>
</div>
