<div class="addresses-header">
  <div>
    <h2>{{ 'account.addresses.title' | translate }}</h2>
    <p class="tab-subtitle">{{ 'account.addresses.subtitle' | translate }}</p>
  </div>
  <button type="button" class="ds-btn ds-btn--dark" (click)="openCreateModal()">
    <i class="fa-solid fa-plus"></i>
    {{ 'account.addresses.actions.add' | translate }}
  </button>
</div>

@if (!orderedAddresses().length) {
  <p class="tab-empty">{{ 'account.addresses.empty' | translate }}</p>
} @else {
  <div class="addresses-grid">
    @for (address of orderedAddresses(); track address.id) {
      <article class="address-card ds-card" [class.address-card--default]="address.isDefault">
        <div class="address-card__head">
          <strong>{{ address.label }}</strong>
          @if (address.isDefault) {
            <span class="default-badge">
              <i class="fa-solid fa-star"></i>
              {{ 'account.addresses.defaultBadge' | translate }}
            </span>
          }
        </div>

        <p class="address-card__lines">
          {{ address.address }}<br />
          @if (address.address2) {
            {{ address.address2 }}<br />
          }
          {{ address.zipCode }} {{ address.city }}<br />
          {{ address.region }}, {{ address.country }}<br />
          {{ address.phone }}
        </p>

        <div class="address-card__actions">
          <button type="button" class="ds-btn" (click)="openEditModal(address)">
            <i class="fa-solid fa-pen"></i>
            {{ 'account.addresses.actions.edit' | translate }}
          </button>

          @if (!address.isDefault) {
            <button type="button" class="ds-btn" (click)="setDefault(address.id)">
              <i class="fa-regular fa-star"></i>
              {{ 'account.addresses.actions.makeDefault' | translate }}
            </button>
          }

          <button type="button" class="icon-btn" (click)="remove(address.id)" aria-label="Delete address">
            <i class="fa-regular fa-trash-can"></i>
          </button>
        </div>
      </article>
    }
  </div>
}

@if (modalMode()) {
  <div class="modal-overlay" role="dialog" aria-modal="true" (click)="closeModal()">
    <article class="modal-card" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h3>
          {{
            modalMode() === 'edit'
              ? ('account.addresses.modal.editTitle' | translate)
              : ('account.addresses.modal.createTitle' | translate)
          }}
        </h3>
        <button type="button" class="icon-btn" (click)="closeModal()" aria-label="Close dialog">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <p class="modal-subtitle">{{ 'account.addresses.modal.subtitle' | translate }}</p>

      <form class="address-form" [formGroup]="form" (ngSubmit)="save()">
        <div class="input-group-wrapper">
          <label for="a-label">{{ 'account.addresses.form.label' | translate }}</label>
          <div class="input-group ds-input-shell">
            <input id="a-label" type="text" formControlName="label" />
          </div>
          @if (isInvalid('label')) {
            <p class="field-error">{{ 'error.mandatory-field' | translate }}</p>
          }
        </div>

        <div class="input-group-wrapper">
          <label for="a-address">{{ 'account.addresses.form.address' | translate }}</label>
          <div class="input-group ds-input-shell">
            <input id="a-address" type="text" formControlName="address" />
          </div>
          @if (isInvalid('address')) {
            <p class="field-error">{{ 'error.mandatory-field' | translate }}</p>
          }
        </div>

        <div class="input-group-wrapper">
          <label for="a-address2">{{ 'account.addresses.form.address2' | translate }}</label>
          <div class="input-group ds-input-shell">
            <input id="a-address2" type="text" formControlName="address2" />
          </div>
        </div>

        <div class="form-grid">
          <div class="input-group-wrapper">
            <label for="a-city">{{ 'account.addresses.form.city' | translate }}</label>
            <div class="input-group ds-input-shell">
              <input id="a-city" type="text" formControlName="city" />
            </div>
            @if (isInvalid('city')) {
              <p class="field-error">{{ 'error.mandatory-field' | translate }}</p>
            }
          </div>

          <div class="input-group-wrapper">
            <label for="a-zip">{{ 'account.addresses.form.zipCode' | translate }}</label>
            <div class="input-group ds-input-shell">
              <input id="a-zip" type="text" formControlName="zipCode" />
            </div>
            @if (isInvalid('zipCode')) {
              <p class="field-error">{{ 'error.invalid-format' | translate }}</p>
            }
          </div>
        </div>

        <div class="form-grid">
          <div class="input-group-wrapper">
            <label for="a-region">{{ 'account.addresses.form.region' | translate }}</label>
            <div class="input-group ds-input-shell">
              <input id="a-region" type="text" formControlName="region" />
            </div>
            @if (isInvalid('region')) {
              <p class="field-error">{{ 'error.mandatory-field' | translate }}</p>
            }
          </div>

          <div class="input-group-wrapper">
            <label for="a-country">{{ 'account.addresses.form.country' | translate }}</label>
            <div class="input-group ds-input-shell">
              <input id="a-country" type="text" formControlName="country" />
            </div>
            @if (isInvalid('country')) {
              <p class="field-error">{{ 'error.mandatory-field' | translate }}</p>
            }
          </div>
        </div>

        <div class="input-group-wrapper">
          <label for="a-phone">{{ 'account.addresses.form.phone' | translate }}</label>
          <div class="input-group ds-input-shell">
            <input id="a-phone" type="tel" formControlName="phone" />
          </div>
          @if (isInvalid('phone')) {
            <p class="field-error">{{ 'error.mandatory-field' | translate }}</p>
          }
        </div>

        <div class="modal-actions">
          <button type="button" class="ds-btn" (click)="closeModal()">
            {{ 'account.common.actions.cancel' | translate }}
          </button>
          <button type="submit" class="ds-btn ds-btn--primary">
            {{
              modalMode() === 'edit'
                ? ('account.common.actions.save' | translate)
                : ('account.common.actions.add' | translate)
            }}
          </button>
        </div>
      </form>
    </article>
  </div>
}
