<div class="home-wrapper">
  <section class="home-content">
    <div class="home-content__hero">
      <div class="badge">{{ 'home.badge' | translate }}</div>

      <div class="title">
        <p>{{ 'home.title' | translate }}</p>
        <p class="cyna">CYNA</p>
      </div>

      <div class="subtitle">
        <p>{{ 'home.description1' | translate }}</p>
        <p>{{ 'home.description2' | translate }}</p>
      </div>

      <a class="offer-btn" routerLink="/offers">{{ 'home.button' | translate }} &#8594;</a>
    </div>
  </section>
</div>
